# Dependency folders (The heavy stuff)
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment variables (The secret stuff)
.env
.env.production

# Production builds
build/
dist/

# System files
.DS_Store
Thumbs.db